# Property: 805 High Mesa Dr

# Summary:

1. The property represents 21% of savings.
1. The transfer of funds out of Mkt Fideity will need to happen eventually (age of 73+)
    - RMD @ age 73, ~4-5%
1. The transfer of funds from Mkt Fidelity (ROI 8-10%) to RealEstate (ROI 5-8%) will incur less appreciation but better insurance against volatility in the market. (ie. Land is Land).
1. The appreciation future value shows RE beats Mkt in short period.

### CONCLUSION 

Go Forward :  invest in Property   2025.08.11

# Property Market Info

[zillow](https://www.zillow.com/homedetails/805-High-Mesa-Dr-Wimberley-TX-78676/28589246_zpid/)

- Latest Price: 2025.07, 235000, 10.3% 
- Initial Sale: 2024.04, 262000
- Assessed Value: 2025, 175,872
- SqFt: 1080
- Lot: 

## Mobile Home Market

- Market: 120-160K
- Tax Assessment: 112K
- Home has been staged but is basic:  $10K improvement
- 1998 Mobile Home Purchased

### Hays Co CAD Property Search

- Development Agreements, Development Coordination, and Development Process Inquiries:
    - (P) 512-393-2150 (Option 5)
    - (E) development@hayscountytx.gov
- Parcel Compliance, Platting, and Subdivision Inquiries:
    - (P) 512-393-2150 (Option 5)
    - (E) planning@hayscountytx.gov

| Prop | Type | State Code | sqft | Value | Type2| Class CD | Year |Land|Acrage|
| ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- |
|805HighMesa| Mobile Home| A Living Area|1,080 | 112,800 | Main Area | MHDG | 1998 |A2-Mobile Home Or Land <br>(no Mtg) < 5 Ac||
|177Kingsway|Residential| A Living Area|1,232|N/A| Main Area | R6P | 1982 |A1-Residential<br>(sf, 5 Ac Or Less)|0.5|


- [805HighMesa](https://esearch.hayscad.com/Property/View/R22884?year=2026&ownerId=O0170156): Type: Mobile Home State Code: A Living Area: 1,080 sqft Value: 112,800
    - MA	Main Area	MHDG	1998	1,080.00	112,160
- [177Kingsway](https://esearch.hayscad.com/Property/View/R33204): Type: Residential State Code: A Living Area: 1,232 sqft Value: N/A
    - MA	Main Area	R6P     1982	1,232.00
 
### MHDG vs R6P 

Consult with the `Hays County Development Services Department` and potentially a licensed structural engineer for specific guidance on your project, 

Breakdown of Hays County home types.
- [RESIDENTIAL-QUALITY-CLASS-DESCRIPTION](https://hayscad.com/wp-content/uploads/2020/04/RESIDENTIAL-QUALITY-CLASS-DESCRIPTION.pdf) : R6P and MHDF (??Mobile Home Dwelling Fixation??)
- `Affixation`:
    - This is the most prevalent term, and it directly relates to the
    - legal process of permanently attaching the manufactured home to the land and
    - converting it from `personal property` (like a vehicle) to `real propert`y (like a traditional house).
    - It involves steps like removing wheels and axles,
    - placing the home on a permanent foundation, and
    - according to Network Transaction Solutions  ::  permanently retire the manufactured home title.
- Hays County defines a "Multi-Family Dwelling" as any residential structure consisting of four (4) or more residential dwelling units.
- Medium-density housing, often referred to as "Missing Middle" housing, commonly involves multiple units within a single structure, such as townhouses, duplexes, or small apartment buildings. 
- MHDG is undefined ("medium-density residential")


## Deed History & Exemptions

1. [Hays County Prop](https://esearch.hayscad.com/Property/View/R22884?year=2025&ownerId=O0170156)
2. [Deeds - Hays Co](https://www.propertyrecs.com/pro/payment-select)
3. Exemption: CBL - Circuit Breaker Limitation
4. 2025.04 - Deed to wife from divorce settlement (Elizabeth Danford)
5. 2004.10 - Warrenty Deed: Hughs ==> Danford couple
6. 2001.09 - Sp Warrenty Deed: MorgCo ==> Hughs for $53200 -- Land: $37400   (CAD:Mkt 70%)
7. 1998.05 - Warrenty Deed: McClain ==> Steward for NA ($10)
8. 1994.11 - Probate Will : passed thru several owners
9. 1979.06 - Built


## HOA - Cedar Oak Mesa

- [Link](https://cedaroakmesa.com/about)
- [HOA Documents](https://cedaroakmesa.com/com-documents)
- Janice Holloway 210-287-4404 : has BnB, 2 river parks (key)

## Cost Outlay

- Landscaping: $7000
- Mobile Home: $2000
-

In [1]:
import os,sys
from pathlib import Path
dirRE = os.path.dirname(os.getcwd())
if len([p for p in sys.path if p == dirRE]) == 0 :
    sys.path.append(dirRE)

import pandas as pd
from io import StringIO

from rewim import rewimLLC
from prop805HighMesa import property

p = property(sell = 235000, assmt=175872, sqft=1080)

## General Info on Property

In [2]:
p.genInfo()

Sell: 235000
Assmt: 175872
2025 Assmt::Mkt: 0.7483914893617021
2021 Assmt::Mkt: 0.7030075187969925
2025 Assmt@2021: 165206
2025 Sell@2021: 250170

Sell-20%: 188000.0
Sell-10%: 211500.0

Market Value (Cty Tax Ofc): 176520

## Real Est Annual Appreciation Model

- Property sold for $53,200 in 2001

In [3]:
p.appreciationModel(53200, years = 2026-2001)

Starting Value (2001): $ 53200
Future Value @ 6%    : $ 59775
Future Value @ 7%    : $ 60908
Future Value @ 8%    : $ 62052

## Finance Summary

## Medicare Preimum Risk
- USD 2,220 FY Premium on USD 216k @ USD 185/month)
- USD 2,220 FY Premium Penalty :: 404K @ 370/month (minus normal premium)

## Finance Cash Purchase

### 2024 Tax Returns
- _36K Roth Fund Transfer
- 171k Base Net
- 207K Net Total
- _36K Tax Paid'
- 17% tax

### 2025 Tax Outlook - No Investment
- _32K Roth Fund Transfer
- 184k Base Net
- 216K Net Total
- _38K Tax Paid'
- 18% tax

### 2025 Tax Outlook - Buy 220000 With Investment 
- __0K Roth Fund Transfer
- 184k Base Net
- 220k Real Estate Investment
- 404K Net Total
- _38K Tax Paid (\$216K)
- _45K Tax on RE Investment
- 18% tax

## Finance with Morgage Option

### 2025 Tax Outlook - Buy 220000 With Morgage USD 110,000

- __0K Roth Fund Transfer
- 184k Base Net
- 110k Real Estate Investment
- 295K Net Total
- _38K Tax Paid (\$216K)
- _19K Tax on RE Investment
- 19% tax
- Morgage: $80 (110K @ 30Y @ 8%)

#### 2026 Tax Outlook - Pay off morg Jan 2026
- __0K Roth Fund Transfer
- 191k Base Net
- 110k Real Estate Investment
- 301K Net Total
- _38K Tax Paid (\$216K)
- _20K Tax on RE Investment
- 19% tax


$47K spent for investment property

## Financial ROI: Mkt vs RE

# Compute AppreciationValue - Expenses over X years

In [17]:
p.roi_RE_Mkt(yrs = 5)

             RE     Mkt
av        79483  110292
inc       43000       0
Sum      122483  110292
pct.ROI   52.1%   46.9%

In [5]:
p.morgOptions()

Morg Principal: $ 127350 at 4%, Monthly Payment: $ 608
Morg Principal: $ 127350 at 5%, Monthly Payment: $ 684
Morg Principal: $ 127350 at 6%, Monthly Payment: $ 764
Morg Principal: $ 127350 at 7%, Monthly Payment: $ 847

## Tax Model 
- compute RMD above budget income

In [13]:
p.taxModel(207000)

          amt
incAmy  50000
incSav  36000
incPen  59000
incSS   32000
incRMD  30000

## Tax Records

In [7]:
pd.read_csv('taxRec.csv')

      yr   taxFY   assmt
0   2024  2132.0  146560
1   2023  2056.0  146560
2   2022  1844.0  116010
3   2021  1295.0   76560
4   2020  1362.0   76560
5   2019  1390.0   75400
6   2018  1275.0   67200
7   2017   719.0   57960
8   2016   727.0   57960
9   2015   827.0   57960
10  2014   827.0   56089
11  2013     NaN   50990
12  2012     NaN   50990
13  2011     NaN   47790
14  2010     NaN   47790
15  2009     NaN   50336
16  2007     NaN   45760
17  2006     NaN   45760
18  2005     NaN   45760
19  2004     NaN   45250
20  2003     NaN   45250
21  2002     NaN   41750
22  2001     NaN   37400
23  2000     NaN   39000

In [8]:
# Example usage
monthly_payment = p.LLC().morgPymt(p.sell, 0.06, 30)
print(f"Monthly Mortgage Payment on ${p.sell} @ 6%: ${monthly_payment:,.2f}")

Monthly Mortgage Payment on $235000 @ 6%: $1,408.94

### Import Co Tax info

In [9]:
import requests
yr = 2019
url = f'https://esearch.hayscad.com/Property/View/R22884?year={yr}'
r = requests.get(url)

In [10]:
from lxml import html
root = html.fromstring(r.content)

In [11]:
root.xpath('//table')

[]

## BnB

In [12]:
pList = [dict(fee=448, co='vrbo', bdrm=3, sleeps=12, bath=4, mi2sq=2.6, desc='RiverRd'),
         dict(fee= 175, co='vrbo' , bdrm=3, sleeps=16, bath=2,  mi2sq=1, desc='7A Ranch'),
         dict(fee= , co='vrbo' , bdrm=3, sleeps=6, bath=2,  mi2sq=1, desc=''),
         dict(fee= , co='vrbo' , bdrm=3, sleeps=6, bath=2,  mi2sq=1, desc=''),
         dict(fee= , co='vrbo' , bdrm=3, sleeps=6, bath=2,  mi2sq=1, desc=''),
         dict(fee= , co='vrbo' , bdrm=3, sleeps=6, bath=2,  mi2sq=1, desc=''),
         dict(fee= , co='vrbo' , bdrm=3, sleeps=6, bath=2,  mi2sq=1, desc=''),
         dict(fee= , co='vrbo' , bdrm=3, sleeps=6, bath=2,  mi2sq=1, desc=''),
         dict(fee= , co='vrbo' , bdrm=3, sleeps=6, bath=2,  mi2sq=1, desc=''),
         dict(fee= , co='vrbo' , bdrm=3, sleeps=6, bath=2,  mi2sq=1, desc=''),

SyntaxError: '[' was never closed (4230322799.py, line 1)